In [3]:
import pandas as pd

# Data frame

- Es un conjunto de series, que forman filas y columnas (forma matricial o matrices). Similar a hojas de calculo

In [4]:
# Crear un DataFrame
# por convención, un dataframe tiene el alias de "df"
# Normalemente los dataFrames se crearan a partir de hojas de calculo: csv, xls, xlsx

## Forma 1 - Por un lado los datos y por otro las columnas
# pd.DataFrame(data=['(lista de tuplas), (tupla1), (tupla2)'], columns=¨['lista'])
df_productos = pd.DataFrame(  data =  [('Maq2', 'negro', 177, 124, 996),
                            ('Maq1', 'negro', 337, 333, 136),
                            ('Maq2', 'blanco', 448, 75, 172)],
                    columns=['Producto', 'Tipo', 'Altura', 'Longitud', 'Peso']
                )


## Forma 2 - Utilizar un diccionario
df_ventas = pd.DataFrame({  'Mes': ['Enero', 'Enero', 'Febrero', 'Marzo', 'Marzo'],
                'Tipo': ['Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco'],
                'Cantidad': [2, 5, 6, 2, 1]
                })

In [5]:
# Ver el data frame creado
df_productos

  Producto    Tipo  Altura  Longitud  Peso
0     Maq2   negro     177       124   996
1     Maq1   negro     337       333   136
2     Maq2  blanco     448        75   172

In [6]:
# Ver el data frame creado
df_ventas

       Mes    Tipo  Cantidad
0    Enero  Blanco         2
1    Enero   Negro         5
2  Febrero  Blanco         6
3    Marzo   Negro         2
4    Marzo  Blanco         1

## Información sobre el DataFrame

In [7]:
# Longitud del DataFrame (cantidad de filas)  # usar len(df)
len(df_productos)

3

In [16]:
# Dimensión de la tabla (cantidad de columnas, cantidad de filas)
df_productos.shape

(3, 5)

In [18]:
# Cantidad de datos que contiene la tabla, cuenta de todos los datos
df_productos.size

15

In [9]:
# Descripción del DataFrame  # usar df.describe())
# Muestra estadísticos básicos de las columnas numéricas
df_productos.describe()

           Altura    Longitud        Peso
count    3.000000    3.000000    3.000000
mean   320.666667  177.333333  434.666667
std    136.236314  137.019463  486.462057
min    177.000000   75.000000  136.000000
25%    257.000000   99.500000  154.000000
50%    337.000000  124.000000  172.000000
75%    392.500000  228.500000  584.000000
max    448.000000  333.000000  996.000000

In [21]:
# Muestra los tipos de datos de las columnas, devuelve una serie
df_productos.dtypes

Producto    object
Tipo        object
Altura       int64
Longitud     int64
Peso         int64
dtype: object

In [23]:
# Información del DataFrame  # usar df.info())
# Muestra Columnas, si tiene datos nulos y el tipo de dato que contiene cada columna
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Producto  3 non-null      object
 1   Tipo      3 non-null      object
 2   Altura    3 non-null      int64
 3   Longitud  3 non-null      int64
 4   Peso      3 non-null      int64
dtypes: int64(3), object(2)
memory usage: 252.0+ bytes

## Ver los datos del DataFrame

In [19]:
# Acceder a un elemento de la DataFrame

# Conocer los indices, deevuelve una lista     # usar df.index
print(f'\nIndices del DataFrame: \n{df_productos.index}')

# Conocer los Columnas, devuelve una lista     # usar df.columns
print(f'\nColumnas del DataFrame: \n{df_productos.columns}')

# Conocer los valores     # usar df.values
print(f'\nValores del DataFrame: \n{df_productos.values}')

Indices del DataFrame:
RangeIndex(start=0, stop=3, step=1)

Columnas del DataFrame:
Index(['Producto', 'Tipo', 'Altura', 'Longitud', 'Peso'], dtype='object')

Valores del DataFrame:
[['Maq2' 'negro' 177 124 996]
 ['Maq1' 'negro' 337 333 136]
 ['Maq2' 'blanco' 448 75 172]]

In [12]:
## Ver los primeras filas
df_ventas.head(2)

     Mes    Tipo  Cantidad
0  Enero  Blanco         2
1  Enero   Negro         5

In [13]:
## Ver las ultimas filas
df_ventas.tail()

       Mes    Tipo  Cantidad
0    Enero  Blanco         2
1    Enero   Negro         5
2  Febrero  Blanco         6
3    Marzo   Negro         2
4    Marzo  Blanco         1

## Operaciones con los DataFrames
- Agrupar por valores de columnas
- Aplicar propiedades de los conjuntos: union, intersección...
- Calcular sumas, promedios, maximos, minimos, valores agrupación
- Selecionar filas o columnas con ciertos valores
- Concatenar, mezclar, combinar varios DataFrame
- Eliminar datos

In [14]:
# Valores de agrupación
print(f'Altura minima: {df_productos.Altura.min()}')
print(f'Altura maxima: {df_productos.Altura.max()}')
print(f'Altura media: {df_productos.Altura.mean()}')
print(f'Altura cuenta: {df_productos.Altura.count()}')   # no cuenta los nulos ni NaN

Altura minima: 177
Altura maxima: 448
Altura media: 320.6666666666667
Altura cuenta: 3

### Crear mas DataFrame para las pruebas siguientes

In [15]:


df_ventas_2 = pd.DataFrame({  'Mes': ['Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
                'Tipo': ['Negro', 'Blanco', 'Negro', 'Blanco', 'Blanco'],
                'Cantidad': [2, 5, 6, 2, 1]
                })

df_ventas

       Mes    Tipo  Cantidad
0    Enero  Blanco         2
1    Enero   Negro         5
2  Febrero  Blanco         6
3    Marzo   Negro         2
4    Marzo  Blanco         1